*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow:none;
}
.text-dark:hover {
    color:#2937f0 !important; 
}
.navbar-brande:hover{
    color: #2937f0 !important;
}
#first{
    font-family:"Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}
#header{
    margin-top:7rem !important ;
}
#h1{
    font-family: "Newsreader", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}
#h2{
    font-family:"Segoe-UI", Tahoma, Geneva, Verdana, sans-serif;
}
.circ{
    color: #2937f0;
    margin-left:28rem;
    margin-top: -265px;
}
.circle{
    background: linear-gradient(45deg,#2937f0,#9f1ae2);
    height: 410px;
    width:410px;
    border-radius: 50%;
    top:50%;
    left:50%;
}
.x{
   color: #2937f0;
   top: 200px;
   left: 50px; 
}
.phone{
    margin-top: 60px;
}
.video{
   border-radius: 30px;
}
.img{
    padding-top:80px;
    
}
.primary{
    background:linear-gradient(45deg,#2937f0,#9f1ae2);
    margin-top:10rem ;
    color: white; 
}
#h1{
    font-family: "Newsreader" -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}
.phone1{
    margin-top: -10px;
}
.video1{
   border-radius: 30px;
   margin-top: 10px;
}
.img1{
    padding-top:80px;
    
}
#phone2{
    margin-top:150px;
}
.x1{
    color: #2937f0;
    margin-left:23rem;
    margin-top: -460px;
   
}
#circle1{
    background: linear-gradient(45deg,#2937f0,#9f1ae2);
    height: 300px;
    width:300px;
    border-radius: 50%;
    top:50%;
    left:30%;
}
.circ1{
    color: #2937f0;
    top: 200px;
    left: 0px;
}
#mt{
    padding-top: 150px;

}
.text{
    text-align: center;
}
#mobile{
   background : linear-gradient(45deg,#2937f0,#9f1ae2);
   background-clip: text;
   -webkit-text-fill-color: transparent;
   font-size: 80px;
   font-weight: 100;
}
.dev{
    font-family: "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji" !important;
}
#pp1{
    font-family: "Mulish", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
    font-size: 22px;
}
#write{
    /* position: relative; */
    background-size: cover;
    background-image: url(image/2eca9011-e7f1-4820-9b9d-a2bb14f2e206.jpg);
    /* background-size: cover; */
    background-position: center;
    padding: 15rem;
}
#write::before{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
}
.btn:hover{
    background-color:white !important;
}
#for:hover{

    color: black !important;
}
.primary2{
    background:linear-gradient(45deg,#2937f0,#9f1ae2);
    /* margin-top:10rem ; */
    color: white;
    padding-top: -10px; 
}
#pp2{
    font-family: "Mulish", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
    font-size: 14px;
}
.fade .dialog{
  transition: transfrom .3s ease-out;
  transform: translate(0,-50px);  
}
.rounded{
    border-radius: .25rem !important;
}
#button2{
    cursor: pointer;
    filter: invert(1) grayscale(100%)
    brightness(200%);
}
#modal{
    position: relative;
    display:contents;
    flex-direction: column;
    width: 800%;
    transform: none;
    pointer-events:auto;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    outline: 0;
}
.border2{
    background:linear-gradient(45deg,#2937f0,#9f1ae2);
    color: white;
}


.fade2{
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0px;
}
#form{
    /* width: 500px; */
    /* height: 50px; */
    /* color: rgb(4, 4, 4); */
    /* background-color: white; */
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    transition: border-color .15s ease-in-out,box-shadow ,15s ease-in-out ;
}
/* .position-relative>label{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 1rem .75rem;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;

} */
.dev1{
    background:linear-gradient(45deg,#2937f0,#9f1ae2);
    /* color: white; */
    /* display:flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
    /* padding: 1rem 1rem; */
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}
/* .dialog{
    transform: none;

} */
.content{
    /* position: relative; */
    /* display: flex; */
    /* flex-direction: column; */
    /* width: 100%; */
    pointer-events: auto;
    /* background-color: #fff; */
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    /* outline: 0; */
}
.body1{
    flex: 1 1 auto;
    /* padding: 1rem; */

}
/* #form{
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: .25rem;


} */
.d-gride{
    background-color: #0610a5b9 !important;
    pointer-events: none;
    /* opacity: .65rem; */

}
.btn-primary.disabled{
    color: white;
    border-color: #0d6efd;
}

@media screen and (max-width:470px) {
    #header{
        margin-bottom: 100px !important;
    }
    #phone0{
        margin-left: 30px;
        margin-bottom: 500px !important;
    }
    #mt{
        padding-top: 0 !important;
    }
    #phone2{
        margin-top: 250px !important;
    }
    #Features{
        margin-bottom: 250px !important;
    }
  
    
}
/* @media screen and (min-width:768px) {
    #header{
        margin-bottom: 350px !important;
    }
    .show2{
        margin-bottom: 300px !important;
    }
    #Features{
        margin-bottom: 250px !important;
    }
    #phone{ */
        /* margin-top: -300px !important; */
        /* margin-top: 600px !important;
    }
    #mt{
        padding-top: 60px;
        margin-bottom: 100px;
    }
    #play2{
        display: flex;
        flex-direction: column;
    }
} */
@media screen and(min-width:471px) and (max-width:768px) {
    #header{
        margin-bottom: 500px !important;
    }
    .show2{
        margin-bottom: 300px !important;
    }
    #content2{
        margin-top: 500px !important;

    }
    #Features{
        margin-bottom: 250px !important;
    }
    #phone0{
        /* margin-top: 200px !important; */
        margin-bottom: 400px !important;
    }
    #phone{
        /* margin-top: -300px !important; */
        margin-top: 600px !important;
    }
    #mt{
        padding-top: 60px;
        margin-bottom: 100px;
    }
    /* .phone1{
        margin-top: 200px;
    } */
      #play2{
        display: flex;
        flex-direction: column;
    }
    
    
}
/* @media screen and (max-width:1024) {
    #header{
        margin-bottom: 1px;
    }
    
} */
