.masthead{
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
    padding-top: 152px;
    padding-bottom: 180px;
  }
  .text-dark:hover{
    color: #2937f0 !important;
  }
  .nav-item:hover{
    color: #9f1ae2;
  }
  .navbar-brand{
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  }
  #show3{
    font-family: "Newsreader", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;

  }
  #launch3{
   font-family: "Mulish", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji !important;

  }
  #show3{
    font-family: "Newsreader", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  }
  section{
    padding-top: 80px;
    padding-bottom: 80px;
  }
  #image5{
    font-family: "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji" !important;
  }
  #send2{
    font-family: "Montserrat", sans-serif;
  }
  .circle{
    background-color: #8D1FE4;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    justify-content: center;
    top:50%;
    left: 50%;
  }
  .iphone-div{
    margin-bottom: 150px;
    margin-top: 250px; 
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-size: cover;
  }
  .cir{
    color: #8D1FE4;
    right: -5%;
    bottom: 250px;
  }
  .xma{
    color: #8D1FE4;
    position: absolute;
    top: 150px;
    left: -5%;
  }

  .iphone{
    height: 500px;
  }

  .mastname{
    background-color: #8D1FE4;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .iphoner-div{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-bottom: 450px;
  }
  .circler{
    top: 250px;
    left:20%;
    background-color: #8D1FE4;
    height: 250px;
    width: 250px;
    border-radius: 50%;
  }
  .xmark{
    font-weight: bold;
    font-size: 25px;
    left: 330px;
    top: 0px;
    color: #8D1FE4;
  }
  .circl{
    color: #8D1FE4;
    top: 450px;
    left: -20%;  
  }
  .iphoner{
    left: 10%;
    top:0;
  }
  .bg-gradient-primary-to-secondary {
    background: linear-gradient(45deg, #2937f0, #9f1ae2) !important;
  }
  .mobile,.camera,.gift,.check{
    color: #9f1ae2;
    font-size: 80px;
  }
  .cta{
    padding: 240px 20px;
    background-position: center;
    background-size: cover;
    background-image: url(image/2eca9011-e7f1-4820-9b9d-a2bb14f2e206.jpg);
  }
  .app-badge{
    height: 48px;
  }
  .modal-header{
    background: linear-gradient(45deg, #2937f0, #9f1ae2) !important;
  }
/* @media screen and (min-width:768px an max-width:768px) {
  .iphoner-div{
    margin-left: 160px;
  }
} */
@media screen and (max-width:430px) {
  .circle{
    display: none;
  }
  .nave{
    width: 320px;
    margin: 0px;
  }
  .cir{
    display: none;
  }
  .xma{
   display: none;
  }
  .circl{
    display: none;
  }
  .xmark{
    display: none;
  }
  .circler{
    display: none;
  }
}